{% extends 'layout.html' %}
{% block title %}Fotograf Anders Lea Karlskås{% endblock %}
{% block body %}


  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='images/indexcarousel/0001-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0002-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0003-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0004-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0005-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0006-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0007-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0008-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0009-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0010-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0011-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0012-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0013-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0014-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0015-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0016-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/indexcarousel/0017-Portfolio.jpg') }}" class="d-block picalignement" alt="...">
      </div>
    </div>
  </div>

  {% include 'includes/_footer.html' %}

{% endblock %}